.flex(@justify-content:flex-start){
    display: flex;
    justify-content:@justify-content;
    align-items: center;
}
//上下左右居中
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
//蓝色渐变
.gradient-blue{
    background: -webkit-gradient(linear,left top, right top,from(#70b0f5) , color-stop(#2381e6),to(#0d6cd1));
    background: -webkit-linear-gradient(left,#70b0f5 , #2381e6,#0d6cd1);
    background: -o-linear-gradient(left,#70b0f5 , #2381e6,#0d6cd1);
    background: linear-gradient(to right,#70b0f5 , #2381e6,#0d6cd1);
}